<mat-toolbar *ngIf="visible">
    <span>
        <a routerLink="/home"><img class="logo" src="assets/img/header_logo.svg" alt="Earn2Post"></a>
    </span>
    <span class="fill-remaining-space"></span>
    <span class="moto">
        "Post with Purpose, Earn with Pride | Join Earn2Post"
    </span>
    <span class="fill-remaining-space"></span>
    <span>
        <form>
            <input type="search" class="search" placeholder="Search..." maxlength="13">
        </form>
    </span>
    <span>
        <button class="menu_button" (click)="sidenav.toggle()"></button>
    </span>
</mat-toolbar>
<mat-sidenav-container [class.login-page]="!visible" [class.other-page]="visible" autosize hasBackdrop="false">
    <mat-sidenav position="end" #sidenav (click)="sidenav.close()">
        <div class="container">
            <div class="top-nav">
                <div class="box">
                    <img src="assets\img\menu_profile.svg" alt="">
                    <h4 style="margin-left: 22px;">Profile</h4>
                </div>
                <div class="box">
                    <img src="assets\img\menu_message.svg" alt="">
                    <h4 style="margin-left: 16px;">Messages</h4>
                </div>
                <div class="box">
                    <img src="assets\img\menu_clicker.svg" alt="">
                    <h4 style="margin-left: 23px;">Clicker</h4>
                </div>
                <div class="box">
                    <img src="assets\img\menu_debux.svg" alt="">
                    <h4 style="margin-left: 13px;">DeBux</h4>
                </div>
            </div>
            <div class="bottom-nav">
                <div class="box-no-border">
                    <img src="assets\img\menu_settings.svg" alt="">
                    <h4 style="margin-left: 15px;">Settings</h4>
                </div>
                <div class="box">
                    <img src="assets\img\menu_bug.svg" alt="">
                    <h4 style="margin-left: 19px;">Report</h4>
                </div>

                <div class="seperator"></div>

                <div class="box-no-border">
                    <img src="assets\img\menu_switch.svg" alt="">
                    <h4>Switch</h4>
                </div>
                <div class="box">
                    <img src="assets\img\menu_logout.svg" alt="">
                    <h4>Log Out</h4>
                </div>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content (click)="sidenav.close()">
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
