mat-toolbar {
  background-color: #313131;
  height: 90px;
}
.logo {
  display: flex;
  width: 90%;
  margin-bottom: 15px;
  margin-left: 24px;
}
.moto {
  color: #E0E1E1;
  font-family: 'IBM Plex Mono ExtraLight', monospace;
  font-size: 200%;
  position: relative;
}
.search {
  width: 300px;
  height: auto;
  border: none;
  border-radius: 40px;
  outline: none;
  color: #E0E1E1;
  font-size: 170%;
  font-family: 'IBM Plex Mono ExtraLight', monospace;
  padding: 13px 5px 13px 70px;
  background: #212121 url("src/assets/img/search.svg") no-repeat;
  background-size: 45px;
  background-position: 4% 70%; 
}
.search img {
  width: 10px;
  height: 10px;
}
.menu_button {
  background: transparent url("/assets/img/menu_icon.svg") no-repeat;
  background-size: 65px;
  background-position: 95% -160%; 
  border: none;
  border-radius: 15px;
  height: 60px;
  width: 60px;
  margin-right: 20px;
  margin-left: 30px;
}
.menu_button:hover {
  background-color: #2D2D2D;
}
.fill-remaining-space {
  flex: 1 1 auto ;
}
/* ----------------------------------------------------------------------- */
.login-page {
  height: 100%;
  background-color: #212121;
  margin: 0;
  padding: 0;
}
.other-page {
  height: calc(205vh - 115vh);
  background-color: #212121;
  margin: 0;
  padding: 0;
}
/* ----------------------------------------------------------------------- */
mat-sidenav-container {
  height: calc(205vh - 115vh);
  background-color: #212121;
  margin: 0;
  padding: 0;
  width: 100%;
}
mat-sidenav {
  width: 220px;
  background-color: #313131;
}
mat-sidenav-content {
  width: auto;
  height: auto;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* ----------------------------------------------------------------------- */
.box, .box-no-border {
  display: flex;
  justify-content: start;
  align-items: center;
  color: #E0E1E1;
  background-color: transparent;
}
.box {
  border-top: thin solid #E37A70;
}
.box img, .box-no-border img {
  margin-left: 15px;
}
.box h4, .box-no-border h4 {
  font-size: 25px;
  font-weight: lighter;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.seperator {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background-color: #464646;
}