<mat-toolbar>
    <span>
        Earn2Post
    </span>
    <span class="fill-remaining-space"></span>
    <span>"Post with Purpose, Earn with Pride | Join Earn2Post"</span>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button aria-label="Menu icon" (click)="opened=!opened">
        <mat-icon>menu</mat-icon>
      </button>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="over" position="end">
        <mat-list>
            <mat-list-item><a>Home</a></mat-list-item>
            <mat-list-item><a>Kaka?</a></mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>