<mat-toolbar *ngIf="visible">
    <span>
        <a routerLink="/home"><img class="logo" id="header-logo" src="assets/img/header_logo.svg" alt="Earn2Post"></a>
    </span>
    <span class="fill-remaining-space"></span>
    <span class="moto" id="header-moto">
        "Post with Purpose, Earn with Pride | Join Earn2Post"
    </span>
    <span class="fill-remaining-space"></span>
    <div class="search">
        <button class="search_button"></button>
        <input class="search_input" type="search" placeholder="Search...">
    </div>
    <div class="search_compact" id="search-bar">
        <button class="search_button" (click)="toggleSearch()"></button>
        <input class="search_input" type="search" placeholder="Search...">
    </div>
    <button class="menu_button" id="header-menu" (click)="sidenav.toggle()"></button>
</mat-toolbar>
<mat-sidenav-container [class.login-page]="!visible" [class.other-page]="visible" autosize hasBackdrop="false">
    <mat-sidenav position="end" #sidenav (click)="sidenav.close()">
        <div class="container">
            <div class="top-nav">
                <div class="box" routerLink="/profile">
                    <img src="assets\img\menu_profile.svg" alt="">
                    <h4>Profile</h4>
                </div>
                <div class="box">
                    <img src="assets\img\menu_message.svg" alt="">
                    <h4>Messages</h4>
                </div>
                <div class="box" routerLink="/clicker">
                    <img src="assets\img\menu_clicker.svg" alt="">
                    <h4>Clicker</h4>
                </div>
                <div class="box">
                    <img src="assets\img\menu_debux.svg" alt="">
                    <h4> Buy DeBux</h4>
                </div>
            </div>
            <div class="bottom-nav">
                <div class="box-no-border">
                    <img src="assets\img\menu_settings.svg" alt="">
                    <h4>Settings</h4>
                </div>
                <div class="box">
                    <img src="assets\img\menu_bug.svg" alt="">
                    <h4>Bug Report</h4>
                </div>

                <div class="seperator"></div>

                <div class="box-no-border">
                    <img src="assets\img\menu_switch.svg" alt="">
                    <h4>Switch Acc</h4>
                </div>
                <div class="box" routerLink="/" (click)="logOut()">
                    <img src="assets\img\menu_logout.svg" alt="">
                    <h4>Log Out</h4>
                </div>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content (click)="sidenav.close()">
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
