mat-toolbar {
  background-color: #313131;
  height: 90px;
  overflow: hidden;
}
.logo {
  height: auto;
  width: 90%;
  margin-bottom: 4%;
  margin-left: 8%;
}
.moto {
  color: #E0E1E1;
  font-family: 'IBM Plex Mono ExtraLight', monospace;
  font-size: 1.7vw;
}
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
.search {
  display: flex;
  align-items: center;
  width: 16%;
  border: none;
  border-radius: 40px;
  outline: none;
  color: #E0E1E1;
  background-color: #212121;
}
.search_button {
  height: 61px;
  width: 61px;
  border: none;
  border-radius: 40px;
  background: transparent url("/assets/img/search.svg") no-repeat;
  background-size: 78%;
  background-position: 6px 11px;
}
.search_input {
  margin-left: 2%;
  width: 80%;
  border: none;
  border-radius: 40px;
  outline: none;
  color: #E0E1E1;
  background: transparent;
  font-size: 170%;
  font-family: 'IBM Plex Mono ExtraLight', monospace;
  padding: 13px 5px 13px 0px;
}
.search_button:hover {
  background-color: #2D2D2D;
  cursor: pointer;
}
.search_button:active {
  transform: scale(0.9)
}
/* ----------------------------------------------------------------------- */
.search_compact {
  display: none;
}
.active {
  background-color: #212121;
  border-radius: 40px;
  width: 100%;
}
.active .search_button {
  height: 61px;
  width: 61px;
  background-position: 6px 11px;
}
.active .search_input{
  display: flex;
}
.inactive{
  display: none;
}
/* ----------------------------------------------------------------------- */
.menu_button {
  background: transparent url("/assets/img/menu_icon.svg") no-repeat;
  background-size: 110%;
  background-position: -5px 2px; 
  border: none;
  border-radius: 15px;
  height: 60px;
  width: 60px;
  margin-right: 20px;
  margin-left: 30px;
}
.menu_button:hover {
  background-color: #2D2D2D;
  cursor: pointer;
}
.menu_button:active {
  transform: scale(0.9)
}
/* ----------------------------------------------------------------------- */
.fill-remaining-space {
  flex: 1 1 auto ;
}
/* ----------------------------------------------------------------------- */
@media (min-width: 1921px) {
  .moto {
    font-size: 200%;
  }
}
@media (max-width: 1560px) {
  .search {
    display: none;
  }
  .search_compact {
    display: flex;
  }
  .search_input {
    display: none;
  }
}
@media (max-width: 1100px) {
  .moto {
    display: none;
  }
}
@media (max-width: 510px) {
  .search_button {
    width: 40px;
    height: 40px;
    background-position: 4px 6px;
  }
  .menu_button {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    background-position: -3px 3px;
  }
}
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
.login-page {
  height: 100%;
  background-color: #212121;
  margin: 0;
  padding: 0;
}
.other-page {
  height: calc(205vh - 115vh);
  background-color: #212121;
  margin: 0;
  padding: 0;
}
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
mat-sidenav-container {
  background-color: #212121;
  width: 100%;
}
mat-sidenav {
  width: 200px;
  background-color: #313131;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* ----------------------------------------------------------------------- */
.box, .box-no-border {
  display: flex;
  justify-content: start;
  align-items: center;
  color: #E0E1E1;
  background-color: transparent;
}
.box:hover, .box-no-border:hover {
  background-color: #505050;
  cursor: pointer;
}
.box {
  border-top: thin solid #E37A70;
}
.box img, .box-no-border img {
  margin-left: 15px;
}
.box h4, .box-no-border h4 {
  font-size: 20px;
  font-weight: lighter;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 22px;
}
.seperator {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background-color: #464646;
}