
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #212121;
}


.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

.logo-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  background: #6A5988;
}

.logo-text {
  width: 100%;
}

.responsive {
  width: 40%;
  height: auto;
}

.big-logo {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}


.input-side {
  display: flex;
  flex-grow: 1;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  background-color: #212121;
  display: flex;
  width: 50%;
  height: auto;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #6A5988;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}

.input-container:hover {
  box-shadow: 0px 0px 50px #6A5988;
}

h1 {
  text-align: left;
  font-size: 30px;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
}

a {
  padding-top: 10px;
  color: #6A5988;
  pointer-events: auto;
  user-select: text;
}

.anchors {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: left;
}

span {
  user-select: auto;
}

.input-box {
  width: 100%;
  height: auto;
  background: #313131;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  padding: 10px;
}

.phone-text {
  padding-bottom: 30px;
}

/* Mobile-specific styles */
@media (max-width: 767px) {
  .logo-side {
    display: none;
  }

  .input-side {
    height: 100%;
    background-image: url("src/assets/img/login_logo_big.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  h1 {
    font-size: 20px;
  }

}

@media (min-width: 767px) {

}


button {
  position: relative;
  background: #444;
  color: #fff;
  text-decoration: none;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  transition: 0.2s;
  margin-top: 20px;
  font-family: IBM Plex Mono, monospace;
}

button:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  background: var(--clr);
  color: var(--clr);
  /* box-shadow: 0 0 35px var(--clr); */
  animation: box 3s infinite;
}

button::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #212121;
}

button span {
  position: relative;
  z-index: 1;
}

button i {
  position: absolute;
  inset: 0;
  display: block;
}

button i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

button:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}

button i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

button:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
}

button:focus {
  background-color: green;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--clr);
  }
  100% {
    box-shadow: #27272c;
  }
}

.checkbox-wrapper-3 {
  display: flex;
  margin: 10px;
}
.checkbox-wrapper-3 p{
  margin: 0px;
  font-size: inherit;
  color: #707070;
}

.checkbox-wrapper-3 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-3 .toggle {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-3 .toggle:before {
  content: "";
  position: relative;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 14px;
  display: block;
  background: #9A9999;
  border-radius: 8px;
  transition: background 0.2s ease;
}

.checkbox-wrapper-3 .toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  display: block;
  background: #707070;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
  transition: all 0.2s ease;
}

.checkbox-wrapper-3 .toggle span:before {
  content: "";
  position: absolute;
  display: block;
  margin: -18px;
  width: 56px;
  height: 56px;
  background: rgba(79, 46, 220, 0.5);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
}

.checkbox-wrapper-3 #cbx-3:checked + .toggle:before {
  background: #947ADA;
}

.checkbox-wrapper-3 #cbx-3:checked + .toggle span {
  background: #6A5988;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}

.checkbox-wrapper-3 #cbx-3:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}


