.post {
    color: white; 
    width: 880px; 
    background: #313131; 
    border-radius: 40px;
    padding: 40px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.mainText {
    color: white; 
    font-size: 40px; 
    font-family: IBM Plex Mono; 
    font-weight: 400; 
    word-wrap: break-word;
    margin: auto;
}
.subText {
    color: white;
    font-size: 25px;
    font-family: IBM Plex Mono;
    font-weight: 400;
    word-wrap: break-word;
    margin: auto;
}
.hoverableSubText {
    color: white;
    font-size: 25px;
    font-family: IBM Plex Mono;
    font-weight: 400;
    word-wrap: break-word;
    margin: auto;
}
.hoverableSubText:hover {
    cursor: pointer;
}
.avatar {
    vertical-align: middle;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.icons {
    max-height: 65px;
    padding: 5px;
}
.commentText {
    width: 73%;
    height: 75px;
    padding: 15px 20px;
    box-sizing: border-box;
    border: 2px solid #878787;
    border-radius: 37.5px;
    background-color: #212121;
    resize: none;
    color: white;
    font-size: 25px;
    font-family: IBM Plex Mono;
    font-weight: 400;
    word-wrap: break-word;
    margin: 0px 0px 0px 10px;
}