<!-- <h1 class="mainText" *ngIf="service.user">Currently logged in as: {{ service.user.displayName }}</h1> -->
<!-- <h3 class="subText">Total posts on the backend: {{ posts?.length }}</h3> -->

<div *ngFor="let post of posts; let i = index;" class="post">
    <img src="{{ post.profile_pic }}" alt="Avatar" class="avatar">
    <p class="mainText">{{ post.display_name }}</p>
    <p class="subText">{{ post.timestamp.toDate() | date: 'short' }}</p>
    <hr/>
    <p class="mainText">{{ post.text }}</p>
    <img src="{{ post.image_url }}" alt="{{ post.image_url }}" style="max-height: 30em; max-width: 42em;" class="center">

    <!-- <p class="subText" style="float:left;">{{ item.likes }} {{ 2 === 1 ? 'like' : 'likes' }}</p>
    <p class="subText" style="float:right;">{{ item.comments }} {{ 2 === 1 ? 'comment' : 'comments' }}</p> -->
    <div *ngIf="post.likes; else noLikes">
        <p class="subText" style="float:left;">{{ post.likes.length }} {{ post.likes?.length === 1 ? 'like' : 'likes' }}</p>
    </div>
    <ng-template #noLikes>
        <p class="subText" style="float:left;">0 likes</p>
    </ng-template>
    <div *ngIf="post.comments; else noComments">
        <p class="hoverableSubText" style="float:right;" (click)="openCommentOverlay()">{{ post.comments.length }} {{ post.comments.length === 1 ? 'comment' : 'comments' }}</p>
    </div>
    <ng-template #noComments>
        <p class="hoverableSubText" style="float:right;" (click)="openCommentOverlay()">0 comments</p>
    </ng-template>
    <br><br>
    <hr/>
    <!-- TODO: get current user UID for proper like / comment checking -->
    <!-- <img *ngIf="service.user" src="{{ service.user.uid in {'2'} ? 'assets/img/like_active.svg' : 'assets/img/like_inactive.svg' }}" class="icons" style="float:left;" (click)="toggleLike(post.document_id)"> -->
    <img src="assets/img/like_active.svg" class="icons" style="float:left;">
    <img src="assets/img/share.svg" class="icons" style="float:left;">
    <textarea #commentText class="commentText" type="text" placeholder="Comment..."></textarea>
    <img src="assets/img/send.svg" class="icons" style="float:right;" (click)="postComment(i);commentText.value=' '">


</div>
<!-- <div *ngFor="let post of allPosts; let i=index" class="post">
    <img src="{{ post[6] }}" alt="Avatar" class="avatar">
    <p class="mainText">{{ post[0] }}</p>
    <p class="subText">{{ post[1] }}</p>
    <hr/>
    <p class="mainText">{{ post[4] }}</p>
    <img src="{{ post[5] }}" alt="{{ post[5] }}" style="max-height: 420px;" class="center">

    <p class="subText" style="float:left;">{{ post[2] }} {{ post[2] == 1 ? 'like' : 'likes' }}</p>
    <p class="subText" style="float:right;">{{ post[3] }} {{ post[3] == 1 ? 'comment' : 'comments' }}</p>
    <br><br>
    <hr/>
    <img src="{{ post[7] == true ? 'assets/img/like_active.svg' : 'assets/img/like_inactive.svg' }}" class="icons" style="float:left;" (click)="toggleLike(i)">
    <img src="assets/img/share.svg" class="icons" style="float:left;">
    <textarea #commentText class="commentText" type="text"></textarea>
    <img src="assets/img/send.svg" class="icons" style="float:right;" (click)="postComment(i);commentText.value=' '">


</div> -->

