<div class="box">
  <div class="header">
    <h2>Friends</h2>
  </div>
  <div class="field">
    <div class="bubble" *ngFor="let friend of friends" (click)="openChat(friend.chatID)">
      <div class="user">
        <img src="path/to/profile-pic.jpg" alt="Profile picture"
             onerror="this.src='https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Pan_Blue_Circle.png/480px-Pan_Blue_Circle.png'">
        <h3>{{friend.displayName}}</h3>
      </div>
      <span class="dot" *ngIf="friend.status"></span>
    </div>
    <h3>Requests</h3>
    <div class="bubble" *ngFor="let request of requestNames" (click)="acceptFriendRequest(request.userUID, request.displayName)">
      <div class="user">
        <img src="path/to/profile-pic.jpg" alt="Profile picture"
             onerror="this.src='https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Pan_Blue_Circle.png/480px-Pan_Blue_Circle.png'">
        <h3>{{request.displayName}}</h3>
      </div>
    </div>
  </div>
</div>
