<div class="container">
    <div class="box">
        <div class="title">
            <h1>Purchase extra DeBux</h1>
        </div>
        <div class="content">
            <div class="text">
                <p>Need to post something right now? We've got you covered! You can always purchase more DeBux to keep posting. </p>
            </div>
            <div class="packs">
                <div class="pack">
                    <img src="assets\img\euro_1.svg" alt="€">
                    <p>
                        <span style="color: #A1A1A1;"><</span>
                        <span style="color: #92EE61;">1 000</span>
                        <span style="color: #A1A1A1;">></span>
                         DBs
                    </p>
                    <p style="color: #A1A1A1;">(5€)</p>
                </div>
                <div class="pack">
                    <img src="assets\img\euro_2.svg" alt="€">
                    <p>
                        <span style="color: #A1A1A1;"><</span>
                        <span style="color: #92EE61;">2 500</span>
                        <span style="color: #A1A1A1;">></span>
                         DBs
                    </p>
                    <p style="color: #A1A1A1;">(10€)</p>
                </div>
                <div class="pack">
                    <img src="assets\img\euro_3.svg" alt="€">
                    <p>
                        <span style="color: #A1A1A1;"><</span>
                        <span style="color: #92EE61;">7 500</span>
                        <span style="color: #A1A1A1;">></span>
                         DBs
                    </p>
                    <p style="color: #A1A1A1;">(20€)</p>
                </div>
                <div class="pack">
                    <img src="assets\img\euro_4.svg" alt="€">
                    <p>
                        <span style="color: #A1A1A1;"><</span>
                        <span style="color: #92EE61;">20 000</span>
                        <span style="color: #A1A1A1;">></span>
                         DBs
                    </p>
                    <p style="color: #A1A1A1;">(50€)</p>
                </div>
            </div>
        </div>
    </div>
</div>
