$md-main: (
    50 : #e6e6e6,
    100 : #c1c1c1,
    200 : #989898,
    300 : #6f6f6f,
    400 : #505050,
    500 : #313131,
    600 : #2c2c2c,
    700 : #252525,
    800 : #1f1f1f,
    900 : #131313,
    A100 : #ef6c6c,
    A200 : #ea3e3e,
    A400 : #f50000,
    A700 : #db0000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-second: (
    50 : #e4e4e4,
    100 : #bcbcbc,
    200 : #909090,
    300 : #646464,
    400 : #424242,
    500 : #212121,
    600 : #1d1d1d,
    700 : #181818,
    800 : #141414,
    900 : #0b0b0b,
    A100 : #e76c6c,
    A200 : #e04040,
    A400 : #ec0000,
    A700 : #d30000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-third: (
    50 : #f8e9e9,
    100 : #eec9c8,
    200 : #e3a5a4,
    300 : #d78080,
    400 : #cf6564,
    500 : #c64a49,
    600 : #c04342,
    700 : #b93a39,
    800 : #b13231,
    900 : #a42221,
    A100 : #ffe0e0,
    A200 : #ffadad,
    A400 : #ff7b7a,
    A700 : #ff6160,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
