/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.cdnfonts.com/css/ibm-plex-mono-3');


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #212121;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'IBM Plex Mono', monospace;
  color: #E0E1E1;
}

p {
  font-size:25px;
  font-weight: 400;
}